.app_new__contents
  .app_new__contents__left
    .app_new__contents__left__period
      = @now.strftime("%Y年　%m月")
    .app_new__contents__left__graph
      = pie_chart @exp_graph_data, height: "400px"

    .app_new__contents__left__total
      .app_new__contents__left__total__income
        .app_new__contents__left__total__income__left
          収入合計
        .app_new__contents__left__total__income__right
          ¥
          = @inc_all_sum
          円

      .app_new__contents__left__total__spending
        .app_new__contents__left__total__spending__left
          費用合計
        .app_new__contents__left__total__spending__right
          ¥
          = @exp_all_sum
          円

      .app_new__contents__left__total__profit
        .app_new__contents__left__total__profit__left
          損益
        - if @profit >= 0
          .app_new__contents__left__total__profit__right
            ¥
            = @profit
            円
        - else
          .app_new__contents__left__total__profit__right--red
            ¥
            = @profit
            円
  
  .app_new__contents__right
    .app_new__contents__right__contents
      .app_new__contents__right__title
        費用

      .app_new__contents__right__list
        .app_new__contents__right__list__food
          .app_new__contents__right__list__expense
            食費
          .app_new__contents__right__list__amount
            ¥
            = @food_sum
            円

        .app_new__contents__right__list__daily-necess
          .app_new__contents__right__list__expense
            日用品費
          .app_new__contents__right__list__amount
            ¥
            = @daily_necces_sum
            円

        .app_new__contents__right__list__utility
          .app_new__contents__right__list__expense
            水道光熱費
          .app_new__contents__right__list__amount
            ¥
            = @utility_sum
            円

        .app_new__contents__right__list__billing
          .app_new__contents__right__list__expense
            課金
          .app_new__contents__right__list__amount
            ¥
            = @billing_sum
            円

        .app_new__contents__right__list__entertainment
          .app_new__contents__right__list__expense
            娯楽費
          .app_new__contents__right__list__amount
            ¥
            = @entertainment_sum
            円
        
        .app_new__contents__right__list__rent
          .app_new__contents__right__list__expense
            家賃
          .app_new__contents__right__list__amount
            ¥
            = @rent_sum
            円

        .app_new__contents__right__list__mobile
          .app_new__contents__right__list__expense
            通信費
          .app_new__contents__right__list__amount
            ¥
            = @mobile_sum
            円

        .app_new__contents__right__list__scholarship
          .app_new__contents__right__list__expense
            奨学金
          .app_new__contents__right__list__amount
            ¥
            = @scholarship_sum
            円

        .app_new__contents__right__list__others
          .app_new__contents__right__list__expense
            その他
          .app_new__contents__right__list__amount
            ¥
            = @others_sum
            円

      .app_new__contents__right__title__income
        収入

      .app_new__contents__right__list__income
        .app_new__contents__right__list__income__salary
          .app_new__contents__right__list__expense
            給与
          .app_new__contents__right__list__amount
            ¥
            = @salary_sum
            円

        .app_new__contents__right__list__income__other
          .app_new__contents__right__list__expense
            雑益
          .app_new__contents__right__list__amount
            ¥
            = @inc_others_sum
            円