.app_header
  .app_header__text
    家計簿
  .app_header__link
    = link_to root_path do
      データ一覧へ

.app_new__contents.clearfix
  = render partial: 'left-main'

  .app_new__contents__right
    = render partial: 'right-main'
  
    .app_new__contents__right__bottom
      .app_new__contents__right__bottom__title
        収支入力
      
      .app_new__contents__right__bottom__contents
        .app_new__contents__right__bottom__contents__spending
          .app_new__contents__right__bottom__contents__spending__title
            費用
          .app_new__contents__right__bottom__contents__spending__form
            = form_with(model: @expenditure, url: "/account/expenditure_create", local: true) do |f|
              .app_new__contents__right__bottom__contents__spending__form__expense
                = f.select :expsubject, [["食費", "食費"],["日用品費", "日用品費"],["水道光熱費", "水道光熱費"],["課金", "課金"],["娯楽費", "娯楽費"],["家賃", "家賃"],["通信費", "通信費"],["奨学金", "奨学金"],["その他", "その他"]], {prompt: "費目を選択"}, class:"app_new__contents__right__bottom__contents__spending__form__expense__form", id: "ex_sub"
              .app_new__contents__right__bottom__contents__spending__form__amount
                = f.text_field :expamount, placeholder: "金額を入力", class:"app_new__contents__right__bottom__contents__spending__form__amount__form"
              .app_new__contents__right__bottom__contents__spending__form__other
                = f.text_field :others, placeholder: "費用名 or ゲーム名", class:"app_new__contents__right__bottom__contents__spending__form__other__form hidden"
              .app_new__contents__right__bottom__contents__spending__form__submit
                =f.submit class: "app_new__contents__right__bottom__contents__spending__form__submit__button", value: "登録" ;
            
        .app_new__contents__right__bottom__contents__income
          .app_new__contents__right__bottom__contents__income__title
            収入
          .app_new__contents__right__bottom__contents__income__form
            = form_with(model: @income, url: "/account/income_create", local: true) do |f|
              .app_new__contents__right__bottom__contents__income__form__item
                = f.select :incsubject, [["給与", "給与"],["雑益", "雑益"]], {prompt: "収入を選択"}, class:"app_new__contents__right__bottom__contents__income__form__item__form"
              .app_new__contents__right__bottom__contents__income__form__amount
                = f.text_field :incamount, placeholder: "金額を入力", class:"app_new__contents__right__bottom__contents__income__form__amount__form"
              .app_new__contents__right__bottom__contents__income__form__submit
                =f.submit class: "app_new__contents__right__bottom__contents__income__form__submit__button", value: "登録" ;


